<body>
    <!-- ======= Image Title Section ======= -->
    <section class="image-title">
        <h1 class="headline">ABOUT US</h1>
    </section><!-- ======= Image Title Section End ======= -->

    <!-- ======= Vision Section ======= -->
    <section class="vision">
        <p>Here you can learn more about Novi Sad's markets,
            how they developed through history and how they function today.</p>
    </section><!-- ======= Vision Section End ======= -->

    <!-- ======= Markets History Section ======= -->
    <section class="markets-history hidden">
        <h1 class="headline animation-fade-in">MARKETS TROUGH HISTORY</h1>
        <img src="assets/img/about-image-markets-history1.jpg" alt="Markets History 1" class="about-image animation-left2" id="img-1">
        <p class="text">Created primarily as a military post, like all border towns, Novi Sad
            became more and more interesting meeting place of interests and gathering of merchants
            of various goods, especially food products. Along with the development of the city and
            the increase in the number of inhabitants, craft and especially trade activities developed.
            The declaration of Novi Sad as a free royal town on February 1st, 1748 meant that the city was
            given the right to dispose of the collected market tax for the first time. Historical data
            show that the organized trade in food products dates back to the end of the 18th and the
            beginning of the 19th century, at the fairgrounds that were located in the places of today's
            Futoška and Temerinska streets, which is the forerunner of markets in today's sense of the word.</p>
            <img src="assets/img/about-image-markets-history2.jpg" alt="Markets History 2" class="about-image" id="img-2">
        <p class="text">Of the markets that exist today in Novi Sad, the Riblja market is the earliest to be mentioned,
            which has been in its current location since the middle of the 19th century. The central city
            market for the sale of agricultural products was located in the second half of the 19th century
            on the site of today's Freedom Square and along Zmaj Jovina Street. With the growth of supply and
            demand, this space becomes narrow, so this market moved to the location of today's Futoška market
            around 1906 and the space occupied by today's Temerinska market in the years after the First World War.</p>
            <img src="assets/img/about-image-markets-history3.jpg" alt="Markets History 3" class="about-image" id="img-3">
        <p class="text">With the accelerated development of Novi Sad from the second half of the 19th century and its growth
            into the administrative, economic and cultural center of today's AR Vojvodina, the need for an increasingly
            organized supply of food and agricultural products to the population grew. Thus, on June 25th, 1952,
            the Municipal Institution "Tržnica" was founded, resulting from the merger of the then three
            existing market administrations. Today's Public Utility Company "Tržnica" was organized by the decision of
            the
            Novi Sad City Assembly on May 19th, 1994, which entrusted it with the management of eight markets in the
            territory
            of the city of Novi Sad. These are Limanska, Riblja, Futoška, Temerinska, Najlonska, Kvantaška,
            Petrovaradniska, Satelitska and
            Detelinarska markets.</p>
        
    </section><!-- ======= Markets History Section End ======= -->

    <!-- ======= Markets Today Section ======= -->
    <section class="markets-today hidden">
        <h1 class="headline" id="markets-today">MARKETS TODAY</h1>
        <img src="assets/img/about-image-markets-today.jpg" alt="Markets Today" class="about-image" id="img-4">
        <p id="today-text">Novi Sad Farmers Market is a modern organization,
            which through management, utility equipment, arrangement and construction of
            markets regularly fulfills its obligations and the basic activity of
            providing citizens with fresh food and consumer goods.
            With around 190 employees organized in five sectors
            (Sector for economic and financial affairs, Sector for investments,
            maintenance and hygiene, Sector for legal and general affairs,
            Sector for marketing and public relations and Sector for market affairs,
            health care and security at work) taking care of ten markets located in
            the narrower territory of the city of Novi Sad, Novi Sad Farmers Market is one of
            the most developed market administrations in Serbia according to business standards.</p>
    </section><!-- ======= Markets Today Section End ======= -->
</body>