<body>
    <!-- ======= Image Title Section ======= -->
    <section class="image-title">
        <h1 class="headline">SEASONAL PRODUCTS</h1>
    </section><!-- ======= Image Title Section End ======= -->

    <!-- ======= Info Section ======= -->
    <section class="info">
        <div class="month" id="first-month">
            <h1>What's in season in January?</h1>
            <p class="text">Apples, beets, burdock root, cabbage, carrots, daikon, garlic,
                potatoes, cabbage, carrots, kale, kiwi, leek, mushrooms, onion,
                parsnip, rutabaga, shallots, squash (winter), sunchokes, turnip</p>
        </div>
        <div class="month" id="second-month">    
            <h1>What's in season in February?</h1>
            <p class="text">Apples, beets, burdock root, cabbage, carrots, daikon, garlic,
                potatoes, cabbage, carrots, kale, kiwi, leek, mushrooms, onion,
                parsnip, rutabaga, shallots, sprouts, squash (winter), sunchokes, turnip</p>
        </div>
        <div class="month" id="third-month">
            <h1>What's in season in March?</h1>
            <p class="text">Apples, beets, bok choy, broccoli, burdock root, cabbage, carrots,
                cucumber, daikon, garlic, kale, kiwi, leek, lettuce, mushrooms,
                onions, peppers, potatoes, parsnip, rutabaga, shallots, sprouts,
                squash (winter), turnip</p>
        </div>
        <div class="month" id="fourth-month">
            <h1>What's in season in April?</h1>
            <p class="text">Arugula, beets, bok choy, broccoli, burdock root, cabbage, carrots,
                cucumber, daikon, garlic, kale, leek, lettuce, mizuna, mushrooms,
                onions, peppers, potatoes, parsnip, rhubarb, rutabaga, shallots,
                spinach, sprouts, squash (winter), Swiss chard, tomatoes, turnip</p>
        </div>
        <div class="month" id="fifth-month">
            <h1>What's in season in May?</h1>
            <p class="text">Arugula, asparagus, beets, bok choy, broccoli, burdock root, cabbage,
                carrots, cauliflower, celery, cucumber, daikon, garlic, kale, leek,
                lettuce, mushrooms, mustard greens, onions, peas, peppers, potatoes,
                parsnip, rhubarb, rutabaga, shallots, spinach, sprouts, squash (winter),
                Swiss chard, tomatoes, turnip (white)</p>
        </div>
        <div class="month" id="sixth-month">
            <h1>What's in season in June?</h1>
            <p class="text">Arugula, asparagus, beets, bok choy, broccoli, burdock root, cabbage,
                carrots, cauliflower, celery, cucumber, fennel (bulb), garlic, kale,
                gooseberries, lettuce, mizuna, mushrooms, mustard greens, onion, peas,
                peppers, potatoes, radish, rhubarb, spinach, sprouts, squash (summer),
                strawberries, Swiss chard, tomatoes, turnips (white), zucchini</p>
        </div>
        <div class="month" id="seventh-month">
            <h1>What's in season in July?</h1>
            <p class="text">Apples, apricots, beans, beets, blackberries, blueberries, bok choy,
                broccoli, burdock root, cabbage, carrots, cauliflower, celery, cherries,
                corn, cucumber, currants, fennel (bulb), garlic, gooseberries, kale, leeks,
                lettuce, mizuna, mushrooms, mustard greens, nectarines, onion, peaches, peas,
                peppers, potatoes, radish, raspberries, rhubarb, Saskatoon berries, spinach,
                squash (summer), strawberries, Swiss chard, tomatoes, turnips (white), zucchini</p>
        </div>
        <div class="month" id="eighth-month">
            <h1>What's in season in August?</h1>
            <p class="text">Apples, apricots, artichoke, arugula, beans, beets, blackberries, blueberries,
                bok choy, broccoli, burdock root, cabbage, carrots, cauliflower, celery, cherries,
                collards, corn, cucumber, daikon, eggplant, fennel (bulb), garlic, kale, leek, lettuce,
                melons, mizuna, mushrooms, mustard greens, nectarines, onions, parsnip, peaches, pears,
                peas, peppers, plums, potatoes, radish, raspberries, rutabagas, Saskatoon berries, shallots,
                spinach, sprouts, squash (summer), strawberries, Swiss chard, tomatoes, turnips, zucchini</p>
        </div>
        <div class="month" id="ninth-month">
            <h1>What's in season in September?</h1>
            <p class="text">Apples, artichoke, beans, beets, blueberries, bok choy, broccoli, Brussels sprouts,
                burdock root, cabbage , carrots, cauliflower, celery, collards, corn, crab apple,
                cranberries, cucumber, daikon, eggplant, fennel (bulb), garlic, grapes, hazelnuts,
                kale, leek, lettuce, melons, mizuna, mushrooms, mustard greens, onions, parsnip,
                pears, peas, plums, peppers, potatoes, prunes, pumpkin, radish, rutabagas, spinach,
                sprouts, squash (summer and winter), Swiss chard, tomatoes, turnips, zucchini</p>
        </div>
        <div class="month" id="tenth-month">
            <h1>What's in season in October?</h1>
            <p class="text">Apples, artichokes, beets, broccoli, Brussels sprouts, burdock root, cabbage, carrots,
                cauliflower, celery, corn, cranberries, cucumber, daikon, fennel (bulb), garlic, grapes,
                hazelnuts, kale, kiwi, leek, lettuce, mizuna, mushrooms, mustard greens, onions, parsnip,
                pears, peas, peppers, potatoes, pumpkin, quince, radish, rutabaga, spinach, sprouts,
                squash (winter), sunchokes, Swiss chard, tomatoes, turnips, zucchini</p>
        </div>
        <div class="month" id="eleventh-month">
            <h1>What's in season in November?</h1>
            <p class="text">Apples, beets, broccoli, Brussels sprouts, cabbage, carrots, cauliflower, daikon,
                hazelnuts, kale, kiwi, leek, lettuce, mizuna, mushrooms, mustard greens, onions,
                parsnip, pears, potatoes, pumpkin, quince, rutabaga, sprouts, squash (winter),
                sunchokes, Swiss chard, tomatoes, turnip</p>
        </div>

        <div class="month" id="last">
            <h1>What's in season in December?</h1>
            <p class="text">Apples, beets, broccoli, Brussels sprouts, cabbage, carrots, cauliflower, daikon,
                hazelnuts, kale, kiwi, leek, lettuce, mizuna, mushrooms, mustard greens, onions,
                parsnip, pears, potatoes, pumpkin, quince, rutabaga, sprouts, squash (winter),
                sunchokes, Swiss chard, tomatoes, turnip</p>
            <p class="app-text">LOOKING FOR A PARTICULAR PRODUCT FROM DIFFERENT MARKETS? FIND THEM WITH OUR <a
              class="next" (click)="navigatePage('sign-up')">NEW MARKETS APP</a></p>
        </div>
    </section><!-- ======= Info Section End ======= -->
</body>
