<body>
    <!-- ======= Sign-Up Section ======= -->
    <section class="sign-up">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="card border-0">
                    <div class="card-body p-0">
                        <div class="col-lg-12">
                            <div class="p-4">
                                <div class="mb-lg-4 mb-sm-5">
                                    <h3 class="h4 font-weight-bold text-theme">Sign up to our new app!</h3>
                                </div>
                                <form role="form" [formGroup]="myForm">
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control control-1" id="username"
                                            formControlName="username" (input)="toggleInputUsername()" />
                                        <div id="username_error" class="form-text mb-3">
                                            <p id="username-blank" class="none">Please enter username!</p>
                                            <p id="username-length" class="none">Username must have at least 6
                                                characters!</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email address</label>
                                        <input type="text" class="form-control control-1" id="email"
                                            formControlName="email" (input)="toggleInputEmail()" />
                                        <div id="email_error" class="form-text mb-3">
                                            <p id="email-blank" class="none">Please enter e-mail address!</p>
                                            <p id="email-invalid" class="none">Please enter valid e-mail address!</p>
                                            <p id="email-match" class="none">Email address is already taken!</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control control-1 psw" id="password"
                                            formControlName="password" (input)="toggleInputPassword()">
                                        <div id="password_error" class="form-text mb-3">
                                            <p id="password-blank" class="none">Please enter password!</p>
                                            <p id="password-length" class="none">Password must have at least 6
                                                characters!</p>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="repeat_password">Repeat password</label>
                                        <input type="password" class="form-control control-1 psw" id="confirmPassword"
                                            formControlName="confirmPassword" (input)="toggleInputConfirmPassword()" />
                                        <div id="confirmPasswordError" class="form-text mb-3">
                                            <p id="confirmPassword-blank" class="none">Please enter password!</p>
                                            <p id="confirmPassword-match" class="none">Passwords do not match!</p>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                            (click)="togglePassword()">
                                        <label class="form-check-label" for="exampleCheck1">Show Password</label>
                                    </div>
                                    <p class="text-muted mt-4 mb-3">Already have an account? <a
                                            (click)="navigatePage('sign-in')" class="text-primary next ml-1">Login</a></p>
                                    <button type="submit" class="btn btn-theme" (click)="onSubmit($event)">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ======= Sign-Up Section End ======= -->
</body>